/* World Canvas Container */
#stage {
  padding: 0px;
  width: 350px;
  height: 350px;
  position: relative;
  border: 2px solid black;
}

/* Default Canvas */
canvas {
  position: absolute;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

/* World Canvas */
#newMap {
  z-index: 1;
}

/* Player Canvas */
#player {
  z-index: 2;
}

/* Pathfinding Canvas */
#path {
  z-index: 3;
}

/*
 * CSS for World Attack
 */

.playerHit {
  text-align: center;
  padding: 5px;
  border: 1px solid #333333;
  background-color: black;
  font-weight: bold;
  font-size: 18pt;
  color: #CC0000;
}

.targetHit {
  text-align: center;
  padding: 5px;
  border: 1px solid #333333;
  background-color: black;
  font-weight: bold;
  font-size: 18pt;
  color: #CC0000;
}

.playerHealth {
  margin-top: 10px;
  margin-right: 9px;
  background-color: #009900;
  border: 0px solid #000;
  height: 15px;
  margin: 0px auto;
}

.targetHealth {
  margin-top: 10px;
  margin-left: 8px;
  background-color: #009900;
  border: 0px solid #000;
  height: 15px;
  margin: 0px auto;
}
