/* World Canvas Container */
#stage {
  padding: 0px;
  width: 350px;
  height: 350px;
  position: relative;
  border: 2px solid black;
}

/* Default Canvas */
canvas {
  position: absolute;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

/* World Canvas */
#newMap {
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
}

/* Player Canvas */
#player {
  z-index: 2;
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
}

/* Pathfinding Canvas */
#path {
  z-index: 3;
}

/*
 * CSS for World Attack
 */

#attackResult {
  font-size: 16px;
  font-weight: bold;
 	margin: 0px auto;
 	padding: 5px;
 	width: 300px;
 	border: 2px solid #cccccc;
 	color: #cc0000;
 	background-color: #000;
 	position: relative;
 	margin: -400px auto 400px auto;
  text-align: center;
}

.playerHit {
  margin: 0px auto;
  padding: 5px;
  border: 1px solid #333333;
  background-color: black;
  font-weight: bold;
  font-size: 18pt;
  color: #CC0000;
  vertical-align: middle;
}

.targetHit {
  text-align: center;
  margin: 0px auto;
  padding: 5px;
  border: 1px solid #333333;
  background-color: black;
  font-weight: bold;
  font-size: 18pt;
  color: #CC0000;
  vertical-align: middle;
}

.playerHealth {
  text-align: center;
  margin-top: 10px;
  margin-right: 9px;
  background-color: #009900;
  border: 0px solid #000;
  height: 15px;
  margin: 0px auto;
}

.targetHealth {
  margin-top: 10px;
  margin-left: 8px;
  background-color: #009900;
  border: 0px solid #000;
  height: 15px;
  margin: 0px auto;
}


#dropmenudiv {
  position:absolute;
  border:1px solid black;
  border-bottom-width: 0;
  font:normal 12px Verdana;
  line-height:18px;
  z-index:100;
}

#dropmenudiv a{
  width: 100%;
  display: block;
  text-indent: 3px;
  border-bottom: 1px solid black;
  padding: 1px 0;
  text-decoration: none;
  font-weight: bold;
}

#dropmenudiv a :hover{
  background-color: #273F2B;
}
